<!DOCTYPE html>
<html>
  <head>
    <title>Завдання №2</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ddd;
        color: #333;
        font-family: sans-serif;
        text-align: center;
      }

      form {
        margin-top: 200px;
      }

      .button {
        margin-top: 20px;
      }
      .button-2 {
          margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <h1>Ім'я має містити тільки букви, дефіс або пробіл</h1>
  </body>
</html>